
<div class="margin-bottom-60 sm-margin-bottom-10"></div>

<div class="container content profile">
  <div class="row">

    <!-- Profile Content -->
    <div class="col-md-6 col-md-push-3">
      <div id="impressions" class="profile-body margin-bottom-20">
        <div class="page">
          <%= render partial: "card_row", collection: @impressions, as: :impression %>
        </div>
        <!--End Profile Blog-->
      </div>
      <%= link_to_next_page @impressions, 'Next Page', :remote => true, :id => "load-more", :class => "btn btn-primary", params: @load_params %>
    </div>
    <!-- End Profile Content -->
  </div><!--/end row-->
</div>

<script>

</script>
