<%= render partial: "common/navbar" %>
<div class="margin-bottom-60 sm-margin-bottom-10"></div>

<div class="container content profile">
  <div class="row">

    <!-- Profile Content -->
    <div class="col-md-6 col-md-push-3">
      <div class="profile-body margin-bottom-20">

        <%= render partial: "card_row", collection: @impressions, as: :impression %>

        <button type="button" class="btn-u btn-u-default btn-block text-center">Load More</button>
        <!--End Profile Blog-->
      </div>
    </div>
    <!-- End Profile Content -->
  </div><!--/end row-->
</div>
