<%= render partial: "slider" %>

<!--=== Content Part ===-->
<div class="content-md">

  <div class="container">
    <div class="headline-center margin-bottom-60">
      <h2>Solve Issue 想做什麼?</h2>
      <p>潮水退了，讓我們看看誰沒穿褲子?!!</p>
    </div><!--/end Headline Center-->

    <div class="row margin-bottom-40">
      <div class="col-md-4">
        <div class="content-boxes-v5 margin-bottom-30">
          <i class="rounded-x icon-layers"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">表達意見</h3>
            <p>讓民代知道我「喜歡/討厭」你的言行舉止 <br> (一個FB粉絲團可以按噓的概念)</p>
          </div>
        </div>
        <!-- <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-settings"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">立即呈現</h3>
            <p>當民代質詢時唱歌跳舞灑狗血，可以立即看到人氣的飆升或 ...</p>
          </div>
        </div> -->
      </div>
      <div class="col-md-4">
        <div class="content-boxes-v5 margin-bottom-30">
          <i class="rounded-x icon-earphones-alt "></i>
          <div class="overflow-h">
            <h3 class="no-top-space">歷史線圖</h3>
            <p>我每剪綵和動工一次，喜歡我的人就愈來愈多了</p>
          </div>
        </div>
        <!-- <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-user "></i>
          <div class="overflow-h">
            <h3 class="no-top-space">User Friendly</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div> -->
      </div>
      <div class="col-md-4">
        <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-settings"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">立即呈現</h3>
            <p>四年後給他難看? 恁爸今罵就抹爽，等不了四年啦!!</p>
          </div>
        </div>
        <!-- <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-star"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">Free Updates</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div> -->
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</div>
<!-- End Content Part -->
